<%- @deploylist.each do |deploy| %>
  <div class="well">
        <h3>
    <%= where_deployed(deploy) %>
    <small></small>
  </h3>
  <p class='lead'>
    <%= deployed_time(deploy) %> by <%= link_to(deploy.coder.name, coder_path(deploy.coder)) %>
  </p>


  <%- if(deploy.comment.present?) -%>
    <%= deploy.comment %>
  <%- else -%>
    <p><em>No description provided</em></p>
  <%- end -%>
  <p><em></em></p>
  </div>

<%- end -%>
