<% @page_title = "Engineering Application Deployments" %>
<div class="page-header">
  <h1>Recent Production Releases</h1>
</div>  

<div class="row-fluid">
  <div class="span8">
    <%= render(partial: 'listing') %>
  </div>
</div>