<% @page_title = 'Sign In'%>
<p>Sign in with your GitHub account:</p>
<p><span style="font-size: 150%;"><%= link_to(image_tag("/assets/octocat.png", :alt=>"GitHub"), :controller => 'auth', :action => 'github') %></span></p>

