<% @page_title = 'Sign In'%>
<p>Sign in with your eXtension account:</p>
<p><span style="font-size: 150%;"><%= link_to(image_tag("/assets/xman.png", :alt=>"eXtension"), :controller => 'auth', :action => 'people') %></span></p>

