<% @page_title = "All Deployments" %>
<div class="page-header">
  <h1>Deployments</h1>
</div>  

<div class="row">
  <div class="col-md-12">
	  <%= paginate @deploylist %>
	  <%= render(:partial => 'list', :locals => {:deploylist => @deploylist} )%>
  </div>
</div>
