<table class="table table-bordered">
  <thead>
    <tr>
        <th>Application</th>
        <th>Notify me of deployments via email</th>
    </tr>
  </thead>
  
  <tbody>
    <%- for app in applist -%>
  	<tr>
      <td><%= app.name %></td>
      <td>NYI</td>
	  </td>
    </tr>
  <%- end -%>
  </tbody>
</table>
