<%- if(deploy.comment.present?) -%>
  <%= deploy.comment %>
<%- else -%>
    <p><em>No description provided</em></p>
<%- end -%>
<%- if @currentcoder -%>
  <p><small><%= link_to('edit','#',id: "edit_comment_for_deploy_#{deploy.id}") %></small></p>
<%- end -%>
